$color-header-linear-1 : #d1dcf0;
$color-header-linear-2 : #8faadc;
$color-header-linear-3 : #514689;
$color-header-linear-4 : #531a85;

$color-dark-blue-1: #02095B;
$color-dark-blue-2: #34495E;
$color-dark-blue-3: #232E39;
$color-dark-blue-4: #3D5063;

$color-light-blue-1: #658AAE;
$color-light-blue-2: #94B5D5;

$color-white: #ffffff;
$color-black: #000000;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$light-grey: rgba(grey, 0.1);