.my-btn {
    &,
    &:link,
    &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;

    //Change for the <button> element
    border: none;
    cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

    &--large {
        font-size: 1.8rem;
        font-weight: 500;
        padding: 2rem 1rem;
    }
    
    &--block {
        width: 100%;
    }

    &--shadow {
        box-shadow: 1rem 0.3rem 1rem rgba($color-black,.2);
    }

    &--dark-blue {
        background-color: $color-dark-blue-2;
        color: white;
        &:hover {
            color: $color-dark-blue-2;
            background-color: white;
        }
    }

    &--dark-blue-2 {
        background-color: #222A35;
        color: white;
        &:hover {
            color:white;
            background-color: #222A35;
        }
    }
}    

